
.text-naranja {
    color: rgb(217, 82, 32);
}
.naranja {
    color: rgb(217, 82, 32);
}

.btn-naranja {
    background-color: rgb(217, 82, 32);
}

.negro {color: rgb(17, 17, 17)
}


.bg-naranja {
    background-color: rgb(217, 82, 32);
}
